
.repository-card {
  max-width: 385px;
  min-width: 385px;
  margin: 1rem;
}

.avatar-image {
  margin-right: 10px;
  min-width: 10%;
}

.profile-url {
  color: #54a4ff;
  text-decoration: none;
  font-weight: 400 !important;
}
.repository-url {
  font-weight: 600 !important;
}

mat-card-subtitle {
  margin-top: 0 !important;
}
